---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home Page">
	<article>
		<h1>About This Website</h1>
		<section>
			<p>
				I’m an advertising student at OCAD University, diving into how
				creativity, culture, and communication all come together. This website
				is a collection of my essays, mostly focusing on how culture shapes the
				world around us. From the impact of mass media to how consumerism
				affects our identities, my work explores how cultural forces play a huge
				role in advertising, design, and society. Through these essays, I hope
				to offer fresh perspectives and deeper insights into culture and how it
				influences the way we communicate, create, and consume today.
			</p>
			<p>
				Made using <a href="astro.build">Astro</a> and styled through <a
					href="https://edwardtufte.github.io/tufte-css/">Tufte.css</a>
			</p>
		</section>
	</article>

	<script src="https://unpkg.com/lenis@1.1.18/dist/lenis.min.js"></script>
</Layout>
