---
import Layout from "../layouts/Layout.astro";
// the slug is to pervent transition:name collisions so the viewtransition api can animate elements between page transitions

const slug = "pop-cult-rp-1";
---

<Layout title="Reading Popular Culture - Reflective Paper 1">
	<h1 transition:name=`essay-title-${slug}`>
		Reading Popular Culture - Reflective Paper 1
	</h1>
	<p transition:name=`essay-date-${slug}` class="subnote">2024/10/04</p>
	<article>
		<section>
			<h2>
				Seat-ology: Brian Jungen’s Cetology viewed through the lens of Walter
				Benjamin’s The Work of Art in the Age of Mechanical Reproduction
			</h2>

			<h3>
				Recontextualizing American Cultural Items: Jungen and Benjamin's Lens
			</h3>
			<p transition:name=`essay-first-para-${slug}`>
				Jungen's work <em>Cetology</em><label
					for="cetology"
					class="margin-toggle sidenote-number"></label><input
					type="checkbox"
					id="cetology"
					class="margin-toggle"
				/><span class="sidenote"
					><img src="/cetology.png" alt="" />Brian Jungen, <em>Cetology</em>,
					2002, plastic chairs, 159 x 166 x 587 in. (404 x 422 x 1491 cm).
					Installation view, Art Gallery of Alberta, Edmonton, AB, 2011</span
				> allows for recontextualization of American cultural items, when viewed
				through the lens of Walter Benjamin’s <em
					>The Work of Art in the Age of Mechanical Reproduction (1935)</em
				>, specifically plastic chairs acting as a critique of consumerism and
				its ritualistic aspects. Jungen contrasts the life of a whale with the
				disposable nature of mass-produced patio scraps, leading to a narrative
				embedded within the objects that would not otherwise be seen. Unlike
				Benjamin's clear separation of cult and exhibition value, Jungen
				suggests a more blended version of the two. His work challenges
				Benjamin's belief that mechanical reproduction diminishes aura within
				art and reinstills a sense of aura to the mass-produced objects he works
				with.
			</p>
			<h3>Blending Cult and Exhibition Values in Art</h3>
			<p>
				Through Jungen's work <em>Cetology</em>, we can see a
				recontextualization of what I deem American cultural items, and also a
				critique on the ritual of consumerism. Walter Benjamin said “the
				uniqueness of a work of art is inseparable from its being embedded in
				the fabric of tradition”
				<label for="sn-6" class="margin-toggle sidenote-number"></label><input
					type="checkbox"
					id="sn-6"
					class="margin-toggle"
				/><span class="sidenote">Walter Benjamin, The Work of Art in the Age of Mechanical Reproduction, trans. Harry Zohn (New York: Schocken Books, 1969), 6.</span>. In this case, the plastic patio
				chairs serve as ritualistic items symbolizing American backyards and
				barbecues. Unlike the ritual items Benjamin discusses, these chairs
				represent the commodification found in consumerism and the American
				dream. By reframing these objects, we can Those two polar types of work
				being cult value, rooted in tradition, and exhibition value, focused on
				display<label for="sn-7" class="margin-toggle sidenote-number"
				></label><input type="checkbox" id="sn-7" class="margin-toggle" /><span
					class="sidenote">Benjamin, The Work of Art in the Age of Mechanical Reproduction, 7.</span
				>.
			</p>
			<p>
				Jungen sees the cult and exhibition value of artworks as being more
				interconnected, unlike Benjamin’s clear separation of the two. Jungen
				plays off of these two polar types by melding them together, allowing
				for the overall form and nature of the art piece to play to its
				strengths as an exhibition piece. At the same time, he uses the cult
				value to critique mass consumerism and the waste it produces. The life
				cycle of these chairs can be best summarized by reframing Benjamin's
				statement to emphasize their cult value; “it was, first and foremost, an
				instrument of magic [modern-day industrial techniques and practices].
				Only later did it become recognized as a work of art”<label
					for="sn-7-2"
					class="margin-toggle sidenote-number"></label><input
					type="checkbox"
					id="sn-7-2"
					class="margin-toggle"
				/><span class="sidenote">Benjamin, The Work of Art in the Age of Mechanical Reproduction, 7.</span>.
			</p>
			<h3>The Aura of Art and Mechanical Reproduction</h3>
			<p>
				Viewing <em>Cetology</em> through Benjamin's essay allowed for me to gain
				a deeper appreciation and understanding of the artwork itself. Jungen acts
				not as a painter but closer to the way Benjamin viewed a cameraman; instead
				of keeping a natural distance from reality, he penetrates more deeply into
				reality's web itself<label
				for="sn-13"
				class="margin-toggle sidenote-number"></label><input
				type="checkbox"
				id="sn-13"
				class="margin-toggle"
			/><span class="sidenote">Benjamin, The Work of Art in the Age of Mechanical Reproduction, 13.</span>. This mindset allowed me to see the work not just
				as an art piece but also as a larger reflection of the everyday and mundane;
				elements I would have otherwise overlooked. As Benjamin notes, “the camera
				that presents the performance of the film actor to the public need not respect
				the performance as an integral whole”<label
				for="sn-9"
				class="margin-toggle sidenote-number"></label><input
				type="checkbox"
				id="sn-9"
				class="margin-toggle"
			/><span class="sidenote">Benjamin, The Work of Art in the Age of Mechanical Reproduction, 9.</span>. Jungen’s patio chairs lose their
				original significance as they become merely parts of a greater whole, much
				like individual scenes in a film. I resonated with Jungen's use of plastic
				chairs as “it does not simply render more precise what in any case was visible
				... it reveals entirely new [literal and figurative] structural formations
				of the subject”<label
				for="sn-16"
				class="margin-toggle sidenote-number"></label><input
				type="checkbox"
				id="sn-16"
				class="margin-toggle"
			/><span class="sidenote">Benjamin, The Work of Art in the Age of Mechanical Reproduction, 16.</span>. Benjamin's essay allowed me to focus a lot more on
				the transformation of material objects and engage with the work in a way
				I might not have otherwise.
			</p>
			<h3>Memory, Transformation, and the Cult of Remembrance</h3>
			<p>
				When it came to the aura of art, Benjamin believed “that which withers
				in the age of mechanical reproduction is the aura of the work of art”<label
				for="sn-4"
				class="margin-toggle sidenote-number"></label><input
				type="checkbox"
				id="sn-4"
				class="margin-toggle"
			/><span class="sidenote">Benjamin, The Work of Art in the Age of Mechanical Reproduction, 4.</span>. However, Jungen’s work complicates this separation between mass
				reproduction and the aura of art through his use of craftsmanship and
				intent.
			</p>
			<p>
				While the materials may be mass-produced, the way in which they are
				transformed into a sculptural piece re-establishes a sense of aura,
				implying that craftsmanship can produce meaning and value independent of
				the original materials’ context. <em>Cetology</em> theoretically could have
				been made with any other material, but it is through Jungen’s purposeful
				use of plastic patio chairs that the piece gains both deeper meaning and
				narrative, as well as reintroduces the aura that plastic patio chairs otherwise
				lack.
			</p>
			<p>
				This approach raises into question how we perceive value and
				authenticity in art, and more broadly, in design. Do mass-produced
				materials and objects not have the same intention and craftsmanship that
				more traditional art pieces hold? I would argue they do.
			</p>
			<p>
				Furthermore, Jungen’s work aligns with some of Benjamin’s insights
				regarding reproduced art; he acknowledged that not all reproduced art
				lacks aura. In discussing photography, Benjamin stated, “the cult of
				remembrance of loved ones, absent or dead, offers a last refuge for the
				cult value of the picture ... in the fleeting expression of a human
				face”<label
				for="sn-7-3"
				class="margin-toggle sidenote-number"></label><input
				type="checkbox"
				id="sn-7-3"
				class="margin-toggle"
			/><span class="sidenote">Benjamin, The Work of Art in the Age of Mechanical Reproduction, 7.</span>. Through the form of a whale skeleton, Jungen utilizes the
				cult of remembrance to add an additional authenticity and reflection on
				the life of the whale. The whale’s death and display provide a deeper
				commentary when contrasted with the mass-produced patio chair scraps.
				Jungen‘s work encourages us to reconsider not just the value and
				authenticity of mass-produced objects but also, through their
				transformation, our understanding of life and stories embedded within
				the objects we usually would overlook.
			</p>
			<h3>
				Conclusion: Rethinking Value and Authenticity in Art and Everyday
				Objects
			</h3>
			<p>
				In conclusion, Jungen’s <em>Cetology</em> provides a commentary on American
				cultural artifacts and critiques consumerism and its ritualistic aspects.
				By using plastic patio chairs; an item typically viewed as disposable and
				mundane, Jungen connects with Benjamin’s belief that authentic art is deeply
				tied to tradition. Yet, through the lens of Benjamin’s The Work of Art in
				the Age of Mechanical Reproduction, Jungen challenges the notion that mechanical
				reproduction diminishes an artwork's aura. Jungen’s reference to a whale
				skeleton constructed with disposed patio chairs asks us to reflect on the
				implications of waste and consumption. Jungen suggests a blended middle ground
				of Benjamin's division of cult and exhibition values, showing that they are
				not mutually exclusive. This allows us to reconsider the value and authenticity
				within art, and that of objects in our daily lives. In doing so, I hope it
				shows the significance within objects of our daily lives, encouraging us
				to engage with them in a more meaningful way.
			</p>
		</section>
	</article>

	<script>
		// base template for lenis smooth scrolling from the documentation on github
		const lenis = new Lenis({
			autoRaf: true,
		});

		lenis.on("scroll", (e) => {
			console.log(e);
		});

		function raf(time) {
			lenis.raf(time);
			requestAnimationFrame(raf);
		}

		requestAnimationFrame(raf);
	</script>
</Layout>
