---
import Navbar from '../components/navbar.astro';
import ClientRouter from 'astro/components/ClientRouter.astro';
const data = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{data.title}</title>
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/tufte.css" />
		<!-- Client-side routing mainly to use the viewtransition api -->
		<ClientRouter />

	</head>
	<body>
		<script src="https://unpkg.com/lenis@1.1.18/dist/lenis.min.js"></script>
		<Navbar /> <!-- Navbar component -->
		<slot /> <!-- Content slot -->
		
	</body>
</html>
